* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #0f2027;
    color: #fff;
}

.main {
    width: 100%;
}

.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

#home:hover{
    transform: scale(1.15);
}

#animals:hover{
  transform: scale(1.15);  
}

#birds:hover{
    transform: scale(1.15);
}

#conservation:hover{
    transform: scale(1.15);
}

#contact:hover{
    transform: scale(1.15);
}

ul {
    display: flex;
    gap: 25px;
    list-style: none;
}

.content {
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.content-left {
    width: 40%;
}

.content-left h1 {
    font-size: 42px;
    margin: 15px 0;
}

.btn {
    padding: 12px 20px;
    border-radius: 25px;
    margin-top: 20px;
    cursor: pointer;
    background-color: #2ecc71;
    color: #000;
    border: none;
    font-weight: bold;
}

.btn:hover {
    transform: scale(1.05);
    background-color: white;
}


.content-right {
    width: 55%;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.species {
    background: #1b3b4b;
    width: 180px;
    padding: 15px;
    border-radius: 15px;
}

.species:hover {
    transform: scale(1.05);
    background: #276a80;
}

.species img {
    width: 100%;
    border-radius: 15px;
}

.species .fact {
    margin-top: 8px;
    font-size: 14px;
    color: #f4d03f;
}
